

<div class="mainContainer container">
  <div class="row">
    <div class="col-xs-8">
      <div class="input-group">
        <input type="text" class="form-control " placeholder="Search book here ...">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>

    <div class="pull-left">
      <div class="dropdown">
        <button data-target="#" href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Volume
          <b class="caret"></b>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Volume</a>
          </li>
          <li>
            <a href="#">BookShelves</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

