<h2 class="text-center"> My BookShelves </h2>

<div class="text-center middle" id="alertMessage">
  <div [@flyInOut] class="alert alert-danger" [hidden]="!show">
    <strong>Success!</strong> Book was deleted from your shelves
  </div>
</div>

<div *ngIf="favorites.length > 0">
  <div class="card">
    <mat-card class="book-card" *ngFor="let favorite of favorites">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <span class="h4">{{ favorite.volumeInfo.title }}</span>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="favorite.volumeInfo.imageLinks.thumbnail" height="450" alt="Photo of book">
      <mat-card-content>
        <p>
          {{ favorite.volumeInfo.description | summary }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-danger" (click)="deleteBook(favorite)">DELETE BOOK</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
